@font-face {
  font-family: "Mark Pro";
  src: local("Mark-Pro"),
    url("/fonts/Mark-Pro.ttf")
  }
*{
  font-family: "Mark Pro";
  margin: 0;
}
body{
  position: absolute=;
}
/* Everything inside blue rectangle */
.rectangle {
  height: 28vh;
  width: 100%;
  background-color: #003CFB;
}
.group{
  display: flex;
  /* height: 100%;
  width: 100%; */
  margin-top: %;
}
.bell-icon{
  display: flex;
  margin-top: 4%;
  margin-left: 13%;
}

/* Text styling */
.user-text{
  margin-left: 6%;
  margin-top: 3%;
}
.hello-van-ons{
  height: 28px; 
  width: 161px;
  color: #FFFFFF;
  font-family: "Mark Pro";
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 0.55px;
  line-height: 28px;
}
.you-have-todos{ 
  height: 40px;
  width: 175px;
  color: rgba(255,255,255,0.8);
  font-family: "Mark Pro";
  font-size: 14px;
  letter-spacing: 0.35px;
  line-height: 20px;
}

/* Bell styling */
.fa-bell{
  height: 21px;
  width: 18px;
  color: #FFFFFF;
  font-size: 20px;
  letter-spacing: 0.5px;
  line-height: 21px;
  padding-top: 15px;
  padding-right: 25px;
  position: relative;
  cursor: pointer;
}
.orange-bell-circle{
  font-size: 10px;
  color: #E43F28;
  position: absolute;
  font-size: 0.3em;
  top: 15px;
  color: #E43F28;
  right: 27px;
}
.cow-icon {
  height: 46px;
  width: 46px;
  border-radius: 50%;
  border: 3px solid white;
}




/* Todolist wrapper */
.todo-list-wrapper{
  margin-left: auto;
  margin-right: auto;
  margin-top:-13vh;
  padding: .3rem;
  border-radius: 10px 10px 0 0;
  background-color: #FFFFFF;
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.1);
  width: 92%;
  /* outline:solid 1px gray; */
  margin-bottom: 8vh;
}
article h4{
  margin-top: 10px;
  margin-left: 45px;
  margin-bottom:5px;
  margin-right: 10px;
}
.todo {
  margin: 1rem;
  padding: .3rem;
  font-size: 1.2rem;
  border: 2px solid #E0E0E0;
  border-radius: 3px;
}

.todo p {
  margin: 0px;
  margin-left: 45px;
  margin-right: 10px;
  font-size: 14px;
  letter-spacing: 0.35px;
  line-height: 22px;
  color: #595959;
  width: 76%;
}
.fa-check{
  color:#02C758;
  float: left;
  outline: solid 2px #02C758;
  font-size: 14px;
  font-weight: bold;
  border-radius: 15px;
  padding: 2px;
  margin-top: 10px;
  margin-left: 10px;
}
.gray-check{
  color: #595959;
  font-size: 18px;
  float: left;
  margin-top: 10px;
  margin-left: 10px;
}
.gray-check:hover{
  background-color: #02C758;
  border-radius: 15px;
  color: #595959;
}
.red-exclam{
  float: left;
}
.red-circle{
  font-size: 18px;
  color: #E43F28;
}
.red-exclam{
  font-size: 16px;
  color: #E43F28;
}
.sticky-button{
  background-color: #003CFB;
  border-radius: 50%;
  color: white;
  font-size: 25px;
  padding: 18px;
}
.sticky-button-div{
  text-align: center;
  position: fixed;
  bottom: 0;
  margin-top: 10vh;
  left: 43vw;
}
.clickable-button{
  cursor: pointer;
}
.popup-form-trans{
  position: fixed;
  bottom: 0;
  background-color: rgb(255,255,255,0.5);
  z-index: 1;
  height: 100vh;
  width: 100vw;
}
.popup-form{
  background-color: white;
  width: 100vw;
  margin-top: 30vh;
  height: 70vh;
  border-radius: 0.4em 0.4em 0 0;

}
.popup-form h1{
  position: relative;
  width: 75vw;
  left: 7vw;
  padding-top: 5vh;
  font-size: 1.3em;
  margin-bottom: 2vh;
}
.task-name-input{
  position: relative;
  height: 5vh;
  width: 85vw;
  left: 7vw;
  margin-bottom: 2vh;
  border-radius: 3px;
  background-color: #F6F8F9;

  
}
.task-name-input-2{
  position: relative;
  height: 5vh;
  width: 85vw;
  left: 7vw;
  margin-bottom: 2vh;
  border-radius: 3px;
  background-color: #F6F8F9;
  outline: none;

  
}
.task-descr-input{
  height: 30vh;
  width: 85vw;
  left: 7vw;
  margin-bottom: 2vh;
  position: relative;
  border-radius: 3px;
  background-color: #FAF6E9;

}
.submit-new-todo{
  position: relative;
  width: 87vw;
  left: 7vw;
  height: 8vh;
  background-color: blue;
  color: white;
  font-weight: bold;
  border-radius: 0.3em;
  outline: none;
} 
.exit-popup{
  float: right;
  margin-top: 6vh;
  margin-right: 4vh;
  height: 1vh;
  color: gray;
}
.hide-item{
  display: none;
}
.underline-bold{
  text-decoration: underline;
  font-weight: bold;
  color: white;
}