/* Fonts */
@font-face {
  font-family: "Mark Pro";
  src: local("Mark Pro"),
    url("/fonts/Mark Pro.ttf")
  }
@font-face {
  font-family: "Mark Pro Bold";
  src: local("Mark-Pro-Bold"),
    url("/fonts/Mark-Pro-Bold.ttf")
  }
*{
  font-family: "Mark Pro";
  margin: 0;
}



body{
  /* position: absolute; */
}
/* Everything inside blue rectangle */
.rectangle {
  height: 28vh;
  width: 100vw;
  background-color: #003CFB;
}
.group{
  display: flex;
  /* height: 100%;
  width: 100%; */
  margin-top: ;
}
.bell-icon{
  display: flex;
  margin-top: 2vh;
  margin-left: 50px;
}

/* Text styling */
.user-text{
  margin-left: 6vw;
  margin-top: 2vh;
}
.hello-van-ons{
  height: 28px; 
  width: 161px;
  color: #FFFFFF;
  font-family: "Mark Pro";
  font-size: 22px;
  letter-spacing: 0.55px;
  line-height: 28px;
}
.you-have-todos{ 
  height: 40px;
  width: 175px;
  color: rgba(255,255,255,0.8);
  font-family: "Mark Pro";
  font-size: 14px;
  letter-spacing: 0.35px;
  line-height: 20px;
}

/* Bell styling */
.fa-bell{
  height: 21px;
  width: 18px;
  color: #FFFFFF;
  font-size: 20px;
  letter-spacing: 0.5px;
  line-height: 21px;
  padding-top: 15px;
  padding-right: 25px;
  position: relative;
  cursor: pointer;
}

.orange-bell-circle{
  font-size: 10px;
  color: #E43F28;
  position: absolute;
  font-size: 0.3em;
  top: 15px;
  color: #E43F28;
  right: 27px;
}
.cow-icon {
  height: 46px;
  width: 46px;
  border-radius: 50%;
  border: 3px solid white;
}




/* Todolist wrapper */
.todo-list-wrapper{
  margin-left: auto;
  margin-right: auto;
  margin-top:-13vh;
  padding: .3rem;
  border-radius: 10px 10px 0 0;
  background-color: #FFFFFF;
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.1);
  width: 92%;
  /* outline:solid 1px gray; */
  margin-bottom: 8vh;
}
article h4{
  margin-top: 7px;
  margin-left: 45px;
  margin-bottom:5px;
  margin-right: 10px;
}
.todo {
  margin: 1rem;
  padding: .3rem;
  font-size: 1.2rem;
  border-radius: 3px;
}
.todo-gray{
  border: 2px solid #E0E0E0;
}
.todo-overdue{
  border: 2px solid #E43F28;
}
.todo p {
  margin: 0px;
  margin-left: 48px;
  margin-right: 10px;
  font-size: 14px;
  letter-spacing: 0.35px;
  line-height: 22px;
  color: #595959;
  width: 76%;
}
/* .fa-check{
  color:#02C758;
  float: left;
  outline: solid 2px #02C758;
  font-size: 14px;
  font-weight: bold;
  border-radius: 15px;
  padding: 2px;
  margin-top: 10px;
  margin-left: 10px;
} */
.gray-circle{
  color: #595959;
  font-size: 21px;
}
.green-circle{
  font-size: 21px;
  color: green;
}
.green-checkmark{
  float: left;
  font-size: 15px;
  font-weight: bold;
  color: green;
}
.red-circle{
  font-size: 21px;
  color: #E43F28;
}
.red-exclam{
  float: left;
  font-size: 15px;
  color: #E43F28
}
.sticky-button{
  background-color: #003CFB;
  border-radius: 50%;
  color: white;
  font-size: 25px;
  padding: 18px;
}
.sticky-button-div{
  text-align: center;
  position: fixed;
  bottom: 0;
  margin-top: 10vh;
  margin-bottom: 1vh;
  left: 43vw;

}
.clickable-button{
  cursor: pointer;
}
.popup-form-trans{
  position: fixed;
  bottom: 0;
  background-color: rgb(255,255,255,0.5);
  z-index: 1;
  height: 100vh;
  width: 100vw;
}
.popup-form{
  background-color: #FFFFFF;
  font-weight: bold;
  width: 100vw;
  margin-top: 30vh;
  height: 70vh;
  border-radius: 0.4em 0.4em 0 0;

}
.todo-h1{
  position: relative;
  width: 75vw;
  left: 7vw;
  padding-top: 5vh;
  font-size: 1.3em;
  margin-bottom: 2vh;
}
.task-name-input{
  position: relative;
  height: 5vh;
  width: 85vw;
  left: 7vw;
  margin-bottom: 2vh;
  border-radius: 3px;
  background-color: #F6F8F9;
  box-shadow: 0 1px 0 0 #EEF0F1;
  border: none;
}
.task-name-input::placeholder{
  color: #AEAEAE;
  text-indent: 2vw;
}
.task-name-input-2{
  position: relative;
  height: 5vh;
  width: 85vw;
  left: 7vw;
  margin-bottom: 2vh;
  border-radius: 3px;
  background-color: #F6F8F9;
  outline: none;

  
}
.task-descr-input{
  height: 30vh;
  width: 85vw;
  left: 7vw;
  margin-bottom: 2vh;
  position: relative;
  border-radius: 3px;
  background-color: #FAF6E9;
  border:none;
}
.task-descr-input::placeholder{
  color: #B89B36;
  text-indent: 2vw;
}
.submit-new-todo{
  position: relative;
  width: 86vw;
  left: 7vw;
  height: 8vh;
  background-color: blue;
  color: white;
  font-weight: bold;
  border-radius: 0.3em;
  outline: none;
} 
.exit-popup{
  float: right;
  margin-top: 6vh;
  margin-right: 4vh;
  height: 1vh;
  color: gray;
}
.hide-item{
  display: none;
}
.underline-bold{
  text-decoration: underline;
  font-weight: bold;
  color: white;
}
.date-div{
  position: relative;
  height: 5vh;
  width: 86vw;
  left: 7vw;
  margin-bottom: 2vh;
  border-radius: 3px;
  background-color: #F6F8F9;
}
.date-div h1{
  float: left;
  font-size: 1.2em;
  color: #595959;
  margin-top: 0.8vh;
  margin-left: 2vw;
}
.date-div input{
  float: right;
  margin-top: 0.8vh;
  margin-right: 2vw;
}
textarea:focus, input:focus{
  outline: none;
  cursor: default;
}

.fa-calendar-days{
  margin-right: 0.5em;
}
p.date{
  margin-top: 1em;
  margin-bottom: 1em;
  color: #989898;
}
/* Todo item dropdown styling */
.edit-pencil{
  height: 13px;
  width: 13px;
  color: #4B4B4B;
  font-size: 0.6em;
  letter-spacing: 0.3px;
  line-height: 13px;
  margin-left: 0.3em;
  margin-right: 0.1em;
}
.edit-remove{
  height: 13px;
  width: 13px;
  color: #E43F28;
  font-size: 0.6em;
  letter-spacing: 0.3px;
  line-height: 13px;
  margin-left: 0.3em;
  margin-right: 0.1em;
}
.remove-span{
  color: red;
  margin:auto
}
.menu-nav {
  float:right;
}

.menu-item {
  color: #FCC;
  padding: 3px;
}

.three-dots:after {
  cursor: pointer;
  color: #444;
  content: '\2807';
  font-size: 20px;
  padding: 0 5px;
}

.dropdown span{
  font-size: 0.6em;
}
.dropdown {
  position: absolute;
  right: 13vw;
  background-color: #FFFFFF;
  opacity: 0;
  z-index: -1;
  max-height: 0;
  border-radius: 15px;
  /* outline: solid 1px #E0E0E0; */
  transition: opacity 0.1s, z-index 0.1s, max-height: 5s;
}
.dropdown-edit{
  outline: solid 1px #E0E0E0;
  color: #4B4B4B;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 3.5em; 
  cursor: pointer
}
.dropdown-remove{
  outline: solid 1px #E0E0E0;
  color: #4B4B4B;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #FFFFFF;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 3.5em;  
  cursor: pointer

}
.task-descr-input::placeholder{
  color: #B89B36;
  padding: 15px;
  text-indent: 0;
}
.dropdown-container:focus {
  outline: none;
}
.dropdown-container:focus .dropdown {
  opacity: 1;
  z-index: 100;
  max-height: 100vh;
  transition: opacity 0.2s, z-index 0.2s, max-height: 0.2s;
.edit-pencil{
  height: 13px;
  width: 13px;
  color: #4B4B4B;
  font-size: 0.8em;
  letter-spacing: 0.3px;
  line-height: 13px;
  margin-left: 0.3em;
  margin-right: 0.1em;
}
.edit-remove{
  height: 13px;
  width: 13px;
  color: #E43F28;
  font-size: 0.8em;
  letter-spacing: 0.3px;
  line-height: 13px;
  margin-left: 0.3em;
  margin-right: 0.1em;
}
.remove-span{
  color: red;
  margin:auto
}
  